.container__small-card-content {
  width: 700px;
  display: flex;
  margin-bottom: 15px;
}

.small-card__photo > img {
  width: 200px;
  min-width: 200px;
  height: 130px;
  margin-right: 20px;
}

.small-card__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__small-card__separator {
  margin-top: 10px;
}
